<div class="prediction-wrap">
	<!---<span class="close close-advise">&times;</span>--->
	<div class="team_name"><strong class="teams">--teams--</strong> <span class="match-time">--date-- @ --time--</span></div>
	<div class="prediction-head">Outcomes <span class="no_votes" ><span class="outcomes_no_votes_--prediction_id--">--total_outcome--</span><span> --outcomes_votes--</span></span></div>
	
	<div class="col-sm-4 col-xs-4 outcomes options home_win_--prediction_id--" target="--prediction_id--" caption="home_win">
	<span class="votes" style="width:--home_win_percentage--%"></span><span class="option-caption">Win</span>
	<span><em class="number_score">--home_win_score--</em><em class="percentage_score">--home_win_percentage_score--</em></span></div>
	
	<div class="col-sm-4 col-xs-4 outcomes lines options draw_--prediction_id--" target="--prediction_id--" caption="draw">
	<span class="votes" style="width:--draw_percentage--%"></span><span class="option-caption">Draw</span>
	<span><em class="number_score">--draw_score--</em><em class="percentage_score">--draw_percentage_score--</em></span></div>
	
	<div class="col-sm-4 col-xs-4 outcomes lines options away_win_--prediction_id--" target="--prediction_id--" caption="away_win">
	<span class="votes" style="width:--away_win_percentage--%"></span><span class="option-caption">Win</span>
	<span><em class="number_score">--away_win_score--</em><em class="percentage_score">--away_win_percentage_score--</em></span></div>
	
	<div class="prediction-head">Goals <span class="no_votes"><span class="goals_no_votes_--prediction_id--">--all_goals--</span><span> --goal_votes--</span></span></div>
	<div class="goal-options">
	<div class="col-sm-4 col-xs-4 outcomes score">1.5</div>
	<div class="col-sm-4 col-xs-4 outcomes lines options over1_5_--prediction_id--" target="--prediction_id--" caption="over1_5">
	<span class="votes" style="width:--over1_5_percentage--%"></span><span class="option-caption">Over</span>
	<span><em class="number_score">--over1_5_score--</em><em class="percentage_score">--over1_5_percentage_score--</em></span></div>
	
	<div class="col-sm-4 col-xs-4 outcomes lines options under1_5_--prediction_id--" target="--prediction_id--" caption="under1_5">
	<span class="votes" style="width:--under1_5_percentage--%"></span><span class="option-caption">Under</span>
	<span><em class="number_score">--under1_5_score--</em><em class="percentage_score">--under1_5_percentage_score--</em></span></div>
	</div>
	<div class="goal-options">
	<div class="col-sm-4 col-xs-4 outcomes score">2.5</div>
	<div class="col-sm-4 col-xs-4 outcomes lines options over2_5_--prediction_id--" target="--prediction_id--" caption="over2_5">
	<span class="votes" style="width:--over2_5_percentage--%"></span><span class="option-caption">Over</span>
	<span><em class="number_score">--over2_5_score--</em><em class="percentage_score">--over2_5_percentage_score--</em></span></div>
	
	<div class="col-sm-4 col-xs-4 outcomes lines options under2_5_--prediction_id--" target="--prediction_id--" caption="under2_5">
	<span class="votes" style="width:--under2_5_percentage--%"></span><span class="option-caption">Under</span>
	<span><em class="number_score">--under2_5_score--</em><em class="percentage_score">--under2_5_percentage_score--</em></span></div>
	</div>
	
	<div class="goal-options">
	<div class="col-sm-4 col-xs-4 outcomes score">3.5</div>
	<div class="col-sm-4 col-xs-4 outcomes lines options over3_5_--prediction_id--" target="--prediction_id--" caption="over3_5">
	<span class="votes" style="width:--over3_5_percentage--%"></span><span class="option-caption">Over</span>
	<span><em class="number_score">--over3_5_score--</em><em class="percentage_score">--over3_5_percentage_score--</em></span></div>
	
	<div class="col-sm-4 col-xs-4 outcomes lines options under3_5_--prediction_id--" target="--prediction_id--" caption="under3_5">
	<span class="votes" style="width:--under3_5_percentage--%"></span><span class="option-caption">Under</span>
	<span><em class="number_score">--under3_5_score--</em><em class="percentage_score">--under3_5_percentage_score--</em></span></div>
	</div>
	
	<div class="prediction-head">Both teams to score <span class="no_votes"><span class="scores_no_votes_--prediction_id--">
	--total_score--</span> <span> --score_votes--</span></span></div>
	<div class="col-sm-6 col-xs-6 outcomes options score_yes_--prediction_id--" target="--prediction_id--" caption="score_yes">
	<span class="votes" style="width:--score_yes_percentage--%"></span><span class="">Yes</span>
	<span><em class="number_score">--score_yes_score--</em><em class="percentage_score">--score_yes_percentage_score--</em></span></div>
	
	<div class="col-sm-6 col-xs-6 outcomes lines options score_no_--prediction_id--" target="--prediction_id--" caption="score_no">
	<span class="votes" style="width:--score_no_percentage--%"></span><span class="">No</span>
	<span><em class="number_score">--score_no_score--</em><em class="percentage_score">--score_no_percentage_score--</em></span></div>
	</div>