    /*
    Flaticon icon font: Flaticon
    Creation date: 24/10/2017 03:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-apple-watch:before { content: "\f100"; }
.flaticon-washing-machine:before { content: "\f101"; }
.flaticon-toolbox:before { content: "\f102"; }
.flaticon-drone:before { content: "\f103"; }
.flaticon-transport:before { content: "\f104"; }
.flaticon-delivery-truck:before { content: "\f105"; }
.flaticon-compact-disc:before { content: "\f106"; }
.flaticon-video-game-console-with-gamepad:before { content: "\f107"; }
.flaticon-watercraft-silhouette:before { content: "\f108"; }
.flaticon-scooter:before { content: "\f109"; }
.flaticon-hoisting-crane:before { content: "\f10a"; }
.flaticon-demolishing:before { content: "\f10b"; }
.flaticon-business-deal:before { content: "\f10c"; }
.flaticon-solar:before { content: "\f10d"; }
    
    $font-Flaticon-apple-watch: "\f100";
    $font-Flaticon-washing-machine: "\f101";
    $font-Flaticon-toolbox: "\f102";
    $font-Flaticon-drone: "\f103";
    $font-Flaticon-transport: "\f104";
    $font-Flaticon-delivery-truck: "\f105";
    $font-Flaticon-compact-disc: "\f106";
    $font-Flaticon-video-game-console-with-gamepad: "\f107";
    $font-Flaticon-watercraft-silhouette: "\f108";
    $font-Flaticon-scooter: "\f109";
    $font-Flaticon-hoisting-crane: "\f10a";
    $font-Flaticon-demolishing: "\f10b";
    $font-Flaticon-business-deal: "\f10c";
    $font-Flaticon-solar: "\f10d";